.header {
    margin: 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;
    margin: 1rem;
}

a > span{
    margin: 0 25px;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 70px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}